VirtualAddrNetwork 10.192.0.0/10
SocksPort 0
TransPort {{ ip_address }}:{{ trans_port }} {% if isolation_flags is defined %}{{ isolation_flags | join(' ') }} {% endif %}  
DNSPort {{ ip_address }}:{{ dns_port }}
AutomapHostsOnResolve 1
AutomapHostsSuffixes .onion,.exit
ClientOnly
RunAsDaemon 1
Log notice file /var/log/tor/notices.log