network:
  version: 2
  ethernets:
    ens33:
      dhcp4: true
    ens37:
      addresses:
        - {{ ip_address }}/{{ cidr_suffix }}
{% if dns_address is defined %}
      nameservers:
        addresses:
          - {{ dns_address }}
{% endif %}